<h1>Search tags</h1>

<form submit="" class="form-inline">
  <div class="form-group">
    <input type="text" ng-model="tag" class="form-control" placeholder="type any tag name" autofocus>
  </div>
  <input type="submit" value="search" class="btn btn-cta">
</form>
<hr>
<div class="row">
  <div class="col-md-3 col-sm-4">
  	<%= @instagram.each do |instagram| %>
    <div class="thumbnail">

      <%= image_tag instagram.images.low_resolution.url %> 
      <p>user: @<%= instagram.user.username %></p>
			<p>likes: <%= instagram.likes.count %></p>
      <br>
      <p>
        <a href="javascript:void(0)" click=""> 
          <span class="glyphicon" class="glyphicon-star"> <%= instagram.favorited %></span>add to Fixed Gear Nation</a>
      </p>
    </div>
  </div>
  <% end %>
</div>
