<div class="text-center">
	<h1>Edit Profile</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well">
			<%= form_for @user, html: { multipart: true } do |f| %>
			<div class="form-group">
				<%=  f.label :name %>
				<%=  f.text_field :name, class: "form-control", autofocus: true %>
			</div>
			<div class="form-group">
				<%=  f.label :email %>
				<%=  f.email_field :email, class: "form-control", autofocus: true %>
			</div>
			<div class="form-group text-center">
				<%= f.submit "Save", class: "btn btn-primary text-align" %>
			</div>
			<div class="form-group text-center">
				<%= link_to " Delete", @user, method: :delete, data: {confirm: "Are you sure you want to delete your profile?"}, class: "glyphicon glyphicon-trash btn btn-default btn-xs" %>
			</div>

			<% end %>
		</div>
	</div>
</div>