<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			<div class="caption text-center">
				<h3><strong class="accent">Fixed gear owner: </strong><%= @user.name %> </h3>
				<% if current_user == @user %>
				<%= link_to "Edit", edit_user_path(current_user), class: "glyphicon glyphicon-cog btn btn-sm btn-primary"%>
				<% end %>
			</div>
			<div>
				<% @user.bikes.each do |bike| %>
				<div>
					<h4><%= link_to bike.name, bike_path(bike) %></h4>
					<p><strong>Originally posted on <%= bike.created_at.localtime.strftime("%b. %d %Y") %></strong></p>
					<p class="show-photo"><%= image_tag bike.image.url(:large), class: "img-responsive center-block" %></p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>