<div class="row">
	<div class="col-md-6 col-md-offset-3 well">
		<div class="caption">
			<h3><strong class="accent">Fixed gear owner: </strong><%= @user.name %> </h3>
			<%= link_to "Edit", edit_user_path(current_user), class: "glyphicon glyphicon-cog btn btn-primary"%>
			<%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure?"}, class: "glyphicon glyphicon-trash btn btn-primary"%>
		</div>
		<div>
			<div class="text-center">
				<h3>Your bike quiver</h3>
			</div>
			<% @bikes.each do |bike| %>
			<div>
				<h4>Click here to edit or delete <%= link_to bike.name, bike_path(bike) %></h4>
				<p><strong>Originally posted on <%= bike.created_at.strftime("%b. %d %Y") %></strong></p>
				<p><%= image_tag bike.image.url(:large) %></p>
			</div>
			<% end %>
		</div>
	</div>
</div>