<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <div class="text-center">
      <h3>Please send us any comments or feedback.  thanks!</h3>
    </div>
    <%= form_for @contact, url: contact_path do |f| %>
    <fieldset>
      <div class="field">
        <%= f.text_field :name, placeholder: "Name", :class => "form-control" %>
      </div>
      <br>
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", :class => "form-control"%>
      </div>
      <br>
      <div class="field">
        <%= f.text_area :content, placeholder: "Message", :class => "form-control"%>
      </div>
    </fieldset>
    <br>
    <fieldset>
      <div class="field text-center">
        <%= f.submit "Send", :class => "btn btn-primary" %>
      </div>
    </fieldset>
    <% end %>
    <hr>
    <div class="text-center">
      <a href="https://twitter.com/fixed_gear_nat" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @fixed_gear_nat</a>
      <br>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <span class="ig-follow" data-id="e0ad682d37" data-handle="fixedgearnation" data-count="true" data-size="large" data-username="true"></span>
    </div>
  </div>
</div>