<div class="row">
	<div class="col-md-6 col-md-offset-3 well">
		<%= form_for @bike, html: { multipart: true } do |f| %>
		<div class="form-group">
			Bike name: <%= f.text_field :name, :class => "form-control" %>
			Bike desription: <%= f.text_area :description, :class =>"form-control" %>
		</div>
		<%= f.file_field :image %>
		<div class="text-center">
		<%= f.submit "Save Bike", :class => "btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>