<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<% @bikes.reverse_each do |bike| %>
				<div class="col-sm-4 col-xs-12 thumbnail bike-homepage">
					<div class="row bike-home">						
						<%= link_to bike_path(bike) do %>
						<%= image_tag bike.imge.url(:medium), class: "img-responsive" %>
						<% end %>	
						<h4 class="bike_name"><strong><%= bike.name %></strong></h4><br>
							<p><div>
              <%= link_to like_bike_path(bike), method: :put, class: "btn btn-default vote_button_home" do %>
              <span class="glyphicon glyphicon-heart"></span>
              <%= bike.get_upvotes.size %>
              <% end %>
            </div></p>
							<p>Posted by <%= link_to bike.user.name.titleize, user_path(bike.user) %> on <%= bike.created_at.localtime.strftime("%b. %d, %Y") %></p>
							<p><%= bike.location %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>