<div class="row">
	<div class="col-md-6 col-md-offset-3 well">
		<h2>Get Fixed - post your fixed gear bike</h2>
		<% @bikes.each do |bike| %>
		<p>
			<strong>Name:</strong> <%= bike.name %><br>
			<strong>Description:</strong> <%= bike.description %>
		</p>
		<div class="bike_photo">
			<%= image_tag bike.image.url(:medium), class: "img-responsive" %>
		</div>
		<br>

		<div class="text-center">
			<%= link_to like_bike_path(bike), method: :put, class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-triangle-top"></span>
			<%= bike.get_upvotes.size %>
			<% end %>

		</div>
		<div class="text-center">
			<p><%= link_to "see bike", bike_path(bike), class: "btn btn-primary" %></p>
		</div>
		<p>Posted by </p>
		<hr>
		<% end %>
	</div>
</div>