<h2 class="text-center">Welcome! - Show off your fixed gear bike</h2>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<% @bikes.reverse_each do |bike| %>
		<div class="row bike_area well">
			<div class="text-center voting-section col-sm-2">
				<%= link_to like_bike_path(bike), method: :put, class: "btn btn-default" do %>
				<span class="glyphicon glyphicon-triangle-top"></span>
				<%= bike.get_upvotes.size %>
				<% end %>
			</div>
			<div class="bike_photo col-sm-4">
				<%= image_tag bike.image.url(:medium), class: "img-responsive" %>
			</div>
			<div class="text-section col-sm-6">
				<strong>Name: </strong> <%= bike.name %><br>
				<strong>Description: </strong> <%= bike.description %><br>
				<strong>Posted by </strong><%= bike.user.name %></br>
				<strong>Posted </strong><%= bike.created_at.strftime("%b. %d %Y") %>
				<br>
				
				<div class="text-center">
					<p><%= link_to "see bike", bike_path(bike), class: "btn btn-primary" %></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>