<div class="row">
	<div class="col-md-8 col-md-offset-2 well">
		<div class="row">
			<div class="col-sm-2">col 1</div>
			<div class="col-sm-4">col 2</div>
			<div class="col-sm-6">col 3</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 well">
		<h2>Get Fixed - post your fixed gear bike</h2>
		<% @bikes.reverse_each do |bike| %>
		<strong>Name: </strong> <%= bike.name %><br>
		<strong>Description: </strong> <%= bike.description %><br>
		<strong>Posted by </strong><%= bike.user.name %></br>
		<strong>Posted </strong><%= bike.created_at.strftime("%b. %d %Y") %>
	</p>
	<div class="bike_photo">
		<%= image_tag bike.image.url(:medium), class: "img-responsive" %>
	</div>
	<br>
	<div class="text-center">
		<%= link_to like_bike_path(bike), method: :put, class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-triangle-top"></span>
		<%= bike.get_upvotes.size %>
		
		<% end %>
	</div>
	<div class="text-center">
		<p><%= link_to "see bike", bike_path(bike), class: "btn btn-primary" %></p>
	</div>
	<hr>
	<% end %>
</div>
</div>