<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="header_title"><h2 class="text-center">Join the <span class="accent_text">Fixed Gear Nation</span> - show off your fixie</h2>
			</div>
			<br>
			<% @bikes.reverse_each do |bike| %>
				<div class="bike_area active">
					<div class="row">
						<div class="text-center voting-section col-sm-2">
							<%= link_to like_bike_path(bike), method: :put, class: "btn btn-default vote_button" do %>
							<span class="glyphicon glyphicon-triangle-top"></span>
							<%= bike.get_upvotes.size %>
							<% end %>
						</div>
						<div class="bike_photo col-sm-5">
							<%= link_to bike_path(bike) do %>
								<%= image_tag bike.image.url(:medium), class: "img-responsive bike-pic-index" %>
							<% end %>	
						</div>
						<div class="text-section col-sm-6">
							<strong class="accent">Name: </strong> <%= bike.name %><br>
							<strong class="accent">Location: </strong> <%= bike.location %><br>
							<strong class="accent">Posted by: </strong><%= link_to bike.user.name.titleize, user_path(bike.user) %></br>
							<strong class="accent">Post date: </strong><%= bike.created_at.strftime("%b. %d, %Y") %>
							<br>
							<br>
							<div class="text-center">
								<p><%= link_to "bike details", bike_path(bike), class: "btn btn-primary see_bike" %></p>
							</div>
						</div>
					</div>
					<br>
				</div>
			<% end %>
		</div>
	</div>
</div>