<div class="row">
	<div class="col-md-6 col-md-offset-3 well">
		<%= form_for @bike, html: { multipart: true } do |f| %>
		<div class="form-group">
			Bike name: <%= f.text_field :name, :class => "form-control" %>
			Description / build details: <%= f.text_area :description, :class =>"form-control" %>
			Location: <%= f.text_field :location, :class =>"form-control" %>
			<% f.hidden_field :user_id, :value => current_user.id %>
		</div>
		<div class="form-group">
			<%= f.file_field :image %>
		</div>
		<div class="form-group text-center">
			<%= f.submit "Save Bike", :class => "btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>