<div class="container bike-show">
	<div class="row">
		<div class="col-md-5 text-center">
			<%= image_tag @bike.image.url(:large), data: {zoom_image: @bike.image.url(:xl)}, class: "img-responsive bike-pic-show" %>
			<div class="additional-photos">
				<% @additional_photos.each do |photo| %>
					<%= image_tag photo.image.url(:thumb), class: "img-reponsive" %>
				<% end %>
			</div>
			<div class="bike_show_buttons text-center">
				<%= link_to like_bike_path(@bike), method: :put, class: "btn btn-default" do %>
					<span class="glyphicon glyphicon-triangle-top"></span>
					<%= @bike.get_upvotes.size %>
				<% end %>
				<% if (current_user && (current_user.id == @bike.user_id)) %>
					<%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-primary" %>
					<%= link_to "Delete", @bike, method: :delete, data: {confirm: "Are you sure you want to delete this bike?"}, class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
			
		<div class="col-md-7">
			<h3><strong class="accent">Bike name: </strong><%= @bike.name %></h3>
			<!-- remove the contry in location -->
			<p><strong class="accent">Location: </strong><%= @bike.location.sub!(/,\s\w+?\s?\w+?$/, '') %></p>
			<p><strong class="accent">Build details / Description: </strong><%= @bike.description %></p>
			<p><strong class="accent">Posted by: </strong><%= link_to @bike.user.name, user_path(@bike.user) %></p>
			<p><strong class="accent">Post date: </strong><%= @bike.created_at.localtime.strftime("%b. %d %Y") %></p>
		</div>
	</div>
	<div class="row comment_area">
		<div class="col-md-12">
			<% @bike.comments.each do |comment| %>
				<div class="comment-wrapper">
					<p class="comment"><strong><%= link_to comment.user.name, user_path(comment.user) %></strong></p>
					<p class="comment">&emsp;<%= comment.content %> (<%= time_ago_in_words(comment.created_at) %> ago)</p>
					<% if current_user == @bike.user and current_user == comment.user %>
					    &emsp;<%= link_to "Edit", edit_bike_comment_path(@bike, comment) %>
					    &emsp;<%= link_to 'Delete', [@bike, comment], method: :delete, data: {confirm: "Are you sure?"} %>
					<% elsif current_user == @bike.user %>
					    &emsp;<%= link_to 'Delete', [@bike, comment], method: :delete, data: {confirm: "Are you sure?"} %>
					<% end %>
				</div>
				<hr>
			<% end %>
			<% if current_user %>
				<%= form_for [@bike, @comment] do |f| %>
					<div class="comment-form">
						<div class="form-group">
							<%= current_user.name %><%= f.text_area :content, placeholder: "Type your comment here", class: "form-control", autofocus: true %>
						</div>
						<%= f.submit "Comment", class: "btn btn-default" %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>