<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-5">
					<%= image_tag @bike.image.url(:large), class: "img-responsive bike-pic" %>
					<%= link_to like_bike_path(@bike), method: :put, class: "btn btn-default" do %>
						<span class="glyphicon glyphicon-triangle-top"></span>
						<%= @bike.get_upvotes.size %>
					<% end %>
					<% if (current_user && (current_user.id == @bike.user_id)) %>
					<%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-primary" %>
					<%= link_to "Delete", @bike, method: :delete, class: "btn btn-primary" %>
		<% end %>
				</div>
				<div class="col-md-7">
					<p><strong>Bike name: </strong><%= @bike.name %></p>
					<p><strong>Description: </strong><%= @bike.description %></p>
					<p><strong>Posted by: </strong><%= @bike.user.name %></p>
					<p><strong>Post date: </strong><%= @bike.created_at.strftime("%b. %d %Y") %></p>
					<hr>
					<% @bike.comments.each do |comment| %>
					<p><strong><%= comment.user.name %>: </strong> <%= comment.content %> (<%= time_ago_in_words(comment.created_at) %> ago)</p>
					<% end %>
					<% if current_user %>
						<%= form_for [@bike, @comment] do |f| %>
						  <div class="form-group">
						    <%= f.text_area :content, placeholder: "Type your comment here", class: "form-control", autofocus: true %>
						  </div>
						  <%= f.submit "Comment", class: "btn btn-default" %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>