<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>This is the show page for a specific bike</h2>
		<h3><%= @bike.name %></h3>
		<p><%= @bike.description %></p>
		<p><%= image_tag @bike.image.url(:large) %></p>

		<%= link_to like_bike_path(@bike), method: :put, class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-heart"></span>
		<%= @bike.get_upvotes.size %>
		<% end %>
		
		<div>
			<p><%= link_to "Edit", edit_bike_path(@bike), class: "btn btn-primary" %></p>
			<p><%= button_to "Delete", @bike, method: :delete, class: "btn btn-primary" %></p>
		</div>
	</div>
</div>