<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Get Fixed</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/"> <%= image_tag "logo-white.png" %></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<% if current_user %>
						<li><%= link_to "Post a new bike", new_bike_path, class: "btn btn-primary" %></li>
						<li><%= link_to current_user.name.titleize, user_path(current_user) %></li>
						<li><%= link_to "Logout", '/logout' %></li>
						<% else %>
						<li><%= link_to "Sign Up", '/signup' %></li>
						<li><%= link_to "Login", '/login'  %></li>
						<% end %>
					</ul>
					</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
				<!-- 	display flash messages above the yield block -->
				<% flash.each do |name, msg| %>
				<div class="alert alert-danger" role="alert">
					<div><%= msg %></div>
					<% end %>
				</div>

				<%= yield %>
			</body>
		</html>