<!DOCTYPE html>
<html>
	<head>
		<title>GetfixedApp</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- 	diplay flash messages avoe the yield block -->
		<% flash.each do |name, msg| %>
		<div><%= msg %></div>
		<% end %>
		
		<% if current_user %>
		Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
		<% else %>
		<%= link_to "Login", '/login' %> | <%= link_to "Signup", '/signup' %>
		<% end %>
		<%= yield %>
	</body>
</html>