<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Fixed Gear Nation is a community website for fixed gear bicycle enthusiasts. Community members can browse fixed gear bikes and show off their own fixies. No two fixed gear bicycles are the same.">
		<%= favicon_link_tag asset_path('favicon.ico'), type:'image/png' %>
		<title>Fixed Gear Nation</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= csrf_meta_tags %>
		<!-- Adding javascript links to get hamburger menu in nav to work -->
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
      					<span class="sr-only">Toggle navigation</span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
    					</button>
					<a href="/"> <%= image_tag "logo-white.png", class: "logo" %></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="navbar-collapse collapse" id="bs-navbar">
					<ul class="nav navbar-nav navbar-right">
						<% if current_user %>
						<li><%= link_to "Post a new bike", new_bike_path, class: "btn btn-primary" %></li>
						<li><%= link_to current_user.name.titleize, user_path(current_user) %></li>
						<li><%= link_to "Logout", '/logout' %></li>
						<% else %>
						<li><%= link_to "Sign Up", '/signup' %></li>
						<li><%= link_to "Login", '/login'  %></li>
						<% end %>
						<li><%= link_to "Contact Us", new_contact_path %></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>
		<!-- 	display flash messages above the yield block -->
		<% flash.each do |name, msg| %>
		<div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-success' %>">
			<div><%= msg %></div>
			<% end %>
		</div>

		<%= yield %>

		<!-- geocomplete -->
		<script src="https://cdn.jsdelivr.net/jquery.geocomplete/1.6.4/jquery.geocomplete.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?&amp;libraries=places"></script>

		<!-- 	Footer for Google Analytics -->
		<%= render "shared/footer" %>

	</body>
</html>